<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>759793065290-ms6merjo7pepkfaic0ub7dqs8btdtsv7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.759793065290-ms6merjo7pepkfaic0ub7dqs8btdtsv7</string>
	<key>API_KEY</key>
	<string>AIzaSyAe0TEwHn_rnnoRIgjQTvlQotgKMBaGlKE</string>
	<key>GCM_SENDER_ID</key>
	<string>759793065290</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.Restaurant</string>
	<key>PROJECT_ID</key>
	<string>nhatminhrestaurant-632b2</string>
	<key>STORAGE_BUCKET</key>
	<string>nhatminhrestaurant-632b2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:759793065290:ios:862ca2e894fa015b9fb5b3</string>
	<key>DATABASE_URL</key>
	<string>https://nhatminhrestaurant-632b2.firebaseio.com</string>
</dict>
</plist>